* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.container {
    display: grid;
    grid-template-areas: "header content"
                        "header footer";
    text-align: center;

    max-width: 960px;
    margin: auto;
}

.div1,.div2,.div3  {
    padding: 1em;
}

.div1 {
    grid-area: header;
    background: linear-gradient(to right,orange,rgb(231, 151, 2),rgb(190, 125, 3));
}

.div1 ul {
    display: grid;
    grid-template-columns: 1fr;
}

.div1 ul li {
    list-style: none;
    padding: 1em 3.5em;
}

.div1 a {
    text-decoration: none;
    color: white;
    opacity: 0.6;
    transition: 0.3s;
    text-transform: uppercase;
}


.div1 a:hover {
    opacity: 1;
}

.div2 {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    max-width: 1024px;

    background: #efefef;
}

.div2 img {
    border-radius: 50%;
    max-width: 100%;
    box-shadow: 1px 1px 10px black;
}

.div2 h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.about {
    display: none;
}
.contact {
    display: none;
}

.contact h1 {
    text-align: left;
}
.contact p {
    text-align: left;
    width: 353px;
}

.intro {
    transition: all 5s;
}

.active {
    opacity: 1 !important;
}

.div2 .btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: linear-gradient(to right,orange,rgb(231, 151, 2),rgb(190, 125, 3));
    box-shadow: 2px 2px 10px grey ;
    padding: 0.8rem 3rem;
    border-radius: 50px;
    margin-top: 1em;
}

.div3 {
    grid-area: footer;
    background: white;
    height: 100px;
}

.div3 ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.div3 li {
    list-style: none;
}

.div3 img {
    height: 50px;
}

@media screen and (min-width: 961px) {
    .div2 {
        height: 100vh;
    }
}

@media screen and (max-width: 960px) {
    .container {
        grid-template-areas:
        'header'
        'content'
        'footer';
    }

    .div1 {
        padding: 0.5em;
    }

    .div1 ul {
        grid-template-columns: repeat(5,1fr);
    }

    .div1 ul li {
        padding: 1em 1.5em;
    }

    .div1 a {
        font-size: 1rem;
    }

    .div2 {
        grid-template-columns: 1fr;
        min-height: 90vh;
    }
}

@media screen and (max-width: 768px) {
    .div1 ul li {
        padding: 0.5em 1em;
    }
}

@media screen and (max-width: 500px) {
    .div1 a {
        font-size: 1rem;
    }

    
}

@media screen and (max-width: 360px) {
    .div1 a {
        font-size: 0.8rem;
    }
}
